Repository hackclub/sprig, pull requests merged in 2023-11, with the labels that each got.

#1169 Sprikipedia, The Sprig wiki and encyclopedia - Translation to Portuguese (RETRY)
  src/translations/pt_BR.json
Labels: enhancement, sprikipedia

#1202 Sprikipedia, The Sprig wiki and encyclopedia - GitHub Tutorials
  src/pages/sprikipedia/global.css
  src/pages/sprikipedia/tutorials/github/edit-a-comment.astro
  src/pages/sprikipedia/tutorials/github/make-a-comment.astro
  src/pages/sprikipedia/tutorials/github/make-a-pr.astro
  src/pages/sprikipedia/tutorials/github/update-a-file.astro
  src/pages/sprikipedia/tutorials/github/update-a-pr.astro
  src/translations/en_US.json
  src/translations/pt_BR.json
Labels: enhancement, sprikipedia

#1210 Fixes mouse hover for sprikipedia main page buttons and slight design change
  src/components/spriki-components/Docs.astro
Labels: enhancement, sprikipedia

#1212 no redundancy in the title of the sprikipedia main page
  src/pages/sprikipedia/index.astro
  src/translations/en_US.json
  src/translations/pt_BR.json
Labels: enhancement, sprikipedia

#1213 changes "Come to the dark side!" button to "GitHub wiki" button
  src/components/spriki-components/Dark.astro
  src/components/spriki-components/Wiki.astro
  src/pages/sprikipedia/index.astro
  src/translations/en_US.json
  src/translations/pt_BR.json
Labels: enhancement, sprikipedia

#1211 hide recaptcha from sprikipedia main page
  src/pages/sprikipedia/global.css
Labels: enhancement, sprikipedia

#1215 fix about page content
  src/pages/sprikipedia/about/index.astro
Labels: enhancement, sprikipedia

#1220 Add Froggo's Dungeon Adventures
  games/froggo's_dungeon_adventures.js
  games/img/froggo's_dungeon_adventures.png
Labels: submission

#1229 feat: updated game logic and added game info
  games/galactic_coconuts.js
Labels: update

#1232 Galactic
  games/galactic.js
  games/img/galactic.png
Labels: submission

#1233 add missing colors in brand page
  src/pages/sprikipedia/brand/index.astro
Labels: sprikipedia

#1234 add sprikipedia issue template
  .github/ISSUE_TEMPLATE/sprikipedia.md
Labels: sprikipedia

#1235 add more to brand page
  src/pages/sprikipedia/brand/index.astro
Labels: sprikipedia

#1239 Add files via upload
  games/BoxMaze.js
Labels: submission

#1242 move from /games to /games/img
  games/img/Cave-Quest.png
  games/img/explorer.png
Labels: update

#1117 Cat in the rain game!
  games/cat_in_rain.js
  games/img/cat_in_rain.jpg
Labels: submission

#1237 getting started page
  src/components/spriki-components/Outside.astro
  src/pages/sprikipedia/getting-started/acknowledgements.astro
  src/pages/sprikipedia/getting-started/engine-development.astro
  src/pages/sprikipedia/getting-started/index.astro
  src/pages/sprikipedia/getting-started/philosophy.astro
  src/pages/sprikipedia/getting-started/setup.astro
  src/pages/sprikipedia/getting-started/slack-channels.astro
  src/pages/sprikipedia/getting-started/you-ship-we-ship.astro
  src/pages/sprikipedia/index.astro
Labels: sprikipedia

#1250 Desine Mini
  games/Desine_Mini.js
  games/img/Desine_Mini.png
Labels: submission

#1252 Small changes and fixes to Galactic game
  games/galactic.js
Labels: update

#1248 add images to getting started page
  src/pages/sprikipedia/getting-started/index.astro
Labels: sprikipedia

#1249 getting started folder
  src/pages/sprikipedia/getting-started/acknowledgements.astro
  src/pages/sprikipedia/getting-started/engine-development.astro
  src/pages/sprikipedia/getting-started/philosophy.astro
  src/pages/sprikipedia/getting-started/setup.astro
  src/pages/sprikipedia/getting-started/slack-channels.astro
  src/pages/sprikipedia/getting-started/you-ship-we-ship.astro
Labels: sprikipedia

#1261 Space Odyssey
  A Space Odyssey.js
Labels: submission

#1257 add jams and workshops cards to getting started page
  src/pages/sprikipedia/getting-started/index.astro
Labels: sprikipedia

#1258 create tutorials page
  src/pages/sprikipedia/tutorials/index.astro
Labels: sprikipedia

#1259 fix firmware references in about page
  src/pages/sprikipedia/about/index.astro
Labels: sprikipedia

#1260 add cards to firmware page
  src/pages/sprikipedia/firmware/index.astro
Labels: sprikipedia

#1262 add cards to hardware page
  src/pages/sprikipedia/hardware/index.astro
Labels: sprikipedia

#1263 small fix to sprikipedia navbar
  src/components/spriki-components/Navspriki.astro
Labels: sprikipedia

#1181 Update `/get`
  src/pages/get.astro
Labels: content
